@tailwind base;
@tailwind components;
@tailwind utilities;

.rd3t-link {
    fill: none;
    stroke: #dcdcdc !important;
}

.rd3t-node,.rd3t-leaf-node {
    cursor: pointer;
    fill: #333333;
    stroke: none !important;
    stroke-width: 2;
}